[submodule "opnsense-core"]
	path = opnsense-core
	url = https://github.com/opnsense/core.git
[submodule "opnsense-docs"]
	path = opnsense-docs
	url = https://github.com/opnsense/docs.git
[submodule "opnsense-ipv6"]
	path = opnsense-ipv6
	url = https://github.com/ttickell/opnsense-ipv6.git
